# Cloudflare Tunnel Token
CLOUDFLARE_TOKEN=

# Grafana
GRAFANA_USER=
GRAFANA_PASSWORD=

# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Komprabot - Bot de Telegram
KOMPRABOT_BOT_TOKEN=
KOMPRABOT_USE_WEBHOOKS=
KOMPRABOT_WEBHOOK_URL=

# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Duplicati
DUPLICATI_ENCRYPTION_KEY=
DUPLICATI_PASSWORD=
